
.icon-icons8-facebook:before { content: '\e800'; } /* '' */
.icon-icons8-instagram:before { content: '\e801'; } /* '' */
.icon-icons8-telegram:before { content: '\e802'; } /* '' */
.icon-icons8-wechat:before { content: '\e803'; } /* '' */
